<div class="container">
	<h2>Get Paid</h2>
	<span>Get Paid is our Suite of APIs for accepting local & global payment cards as well as alternative payment methods like Bank Account Payment & Mobile Money Wallet Payment Online or in-app for payment service providers.</span>
	<ul>
		<li><a href="/card"><button type="button" class="btn btn-default">Card Payment</button></a></li>
		<li><a href="/alt"><button type="button" class="btn btn-default">Alternative Payment</button></a></li>
	</ul>
	<h2>Pay</h2>
	<span>Pay API allows you to send money to over 135 million accounts in over 9 countries all from one API.</span>
	<ul>
		<li><a href="/send"><button type="button" class="btn btn-default">Make Payment</button></a></li>
	</ul>
</div>